<a href="https://colab.research.google.com/github/s3834552/M01Lab-Abel/blob/main/Abel_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
from pycoingecko import CoinGeckoAPI
from datetime import datetime
import pandas as pd

cg = CoinGeckoAPI()

ohlc = cg.get_coin_ohlc_by_id(
    id="bitcoin", vs_currency="usd", days="14"
)
ohlc_df = pd.DataFrame(ohlc)
ohlc_df.columns = ["date", "open", "high", "low", "close"]
ohlc_df["date"] = pd.to_datetime(ohlc_df["date"], unit="ms")
ohlc_df

trending_coins = cg.get_search_trending()
(
    pd.DataFrame([coin["item"] for coin in trending_coins["coins"]])
    .drop(columns=["thumb", "small", "large"])
)

,id,coin_id,name,symbol,market_cap_rank,slug,price_btc,score,data
0,nietzschean-penguin,71738,Nietzschean Penguin,PENGUIN,474,nietzschean-penguin,8.995377e-07,0,"{'price': 0.08012246803547766, 'price_btc': '0..."
1,linea,68507,Linea,LINEA,399,linea,7.237381e-08,1,"{'price': 0.006446387162417462, 'price_btc': '..."
2,seeker,70974,Seeker,SKR,291,seeker,3.819223e-07,2,"{'price': 0.03401809615066124, 'price_btc': '0..."
3,rain,69134,Rain,RAIN,45,rain,1.116160e-07,3,"{'price': 0.009941721761778148, 'price_btc': '..."
4,river,69318,River,RIVER,93,river,6.287465e-04,4,"{'price': 56.00290498386819, 'price_btc': '0.0..."
5,pudgy-penguins,52622,Pudgy Penguins,PENGU,137,pudgy-penguins,1.103307e-07,5,"{'price': 0.00982723237297798, 'price_btc': '0..."
6,pax-gold,9519,PAX Gold,PAXG,57,pax-gold,5.677186e-02,6,"{'price': 5056.710139724864, 'price_btc': '0.0..."
7,bittensor,28452,Bittensor,TAO,53,bittensor,2.651243e-03,7,"{'price': 236.14809411692812, 'price_btc': '0...."
8,tether-gold,10481,Tether Gold,XAUT,50,tether-gold,5.641937e-02,8,"{'price': 5025.313594463914, 'price_btc': '0.0..."
9,monad,38927,Monad,MON,283,monad,2.095808e-07,9,"{'price': 0.018667508145397135, 'price_btc': '..."
10,ondo-finance,26580,Ondo,ONDO,64,ondo,3.862958e-06,10,"{'price': 0.3440764637935509, 'price_btc': '0...."
11,axie-infinity,13029,Axie Infinity,AXS,161,axie-infinity,2.962900e-05,11,"{'price': 2.639076669538257, 'price_btc': '0.0..."
12,solana,4128,Solana,SOL,7,solana,1.421461e-03,12,"{'price': 126.61050813288374, 'price_btc': '0...."
13,zcash,486,Zcash,ZEC,28,zcash,4.081096e-03,13,"{'price': 363.50613821423514, 'price_btc': '0...."
14,hyperliquid,50882,Hyperliquid,HYPE,31,hyperliquid,2.579826e-04,14,"{'price': 22.978691438934, 'price_btc': '0.000..."