<a href="https://colab.research.google.com/github/skipperjay/M01Lab/blob/main/SewellLab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import yfinance as yf

In [2]:
df = yf.download("AAPL",
                 start="2011-01-01",
                 end="2021-12-31",
                 progress=False)

/tmp/ipython-input-3131278277.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("AAPL",

In [3]:
print(f"Downloaded {len(df)} rows of data.")
df

Downloaded 2768 rows of data.

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2011-01-03    9.884150    9.904843    9.742292    9.766285  445138400
2011-01-04    9.935734    9.972023    9.841561    9.970223  309080800
2011-01-05   10.017004   10.027201    9.882044    9.883544  255519600
2011-01-06   10.008909   10.054495    9.984016   10.038600  300428800
2011-01-07   10.080591   10.087489    9.954028   10.016710  311931200
...                ...         ...         ...         ...        ...
2021-12-23  172.658020  173.216316  171.668778  172.236862   68356600
2021-12-27  176.624832  176.712979  173.431819  173.451398   74919600
2021-12-28  175.606186  177.604279  174.861807  176.458320   79144300
2021-12-29  175.694382  176.918699  174.479854  175.645406   62348900
2021-12-30  174.538559  176.859873  174.430819  175.782469   59773000

[2768 rows x 5 columns]

In [4]:
aapl_data = yf.Ticker("AAPL")

In [5]:
aapl_data.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-12-24 00:00:00-05:00,272.339996,275.429993,272.200012,273.809998,17910600,0.0,0.0
2025-12-26 00:00:00-05:00,274.160004,275.369995,272.859985,273.399994,21521800,0.0,0.0
2025-12-29 00:00:00-05:00,272.690002,274.359985,272.350006,273.760010,23715200,0.0,0.0
2025-12-30 00:00:00-05:00,272.809998,274.079987,272.279999,273.079987,22139600,0.0,0.0
2025-12-31 00:00:00-05:00,273.059998,273.679993,271.750000,271.859985,27293600,0.0,0.0
2026-01-02 00:00:00-05:00,272.260010,277.839996,269.000000,271.010010,37838100,0.0,0.0
2026-01-05 00:00:00-05:00,270.640015,271.510010,266.140015,267.260010,45647200,0.0,0.0
2026-01-06 00:00:00-05:00,267.000000,267.549988,262.119995,262.359985,52352100,0.0,0.0
2026-01-07 00:00:00-05:00,263.200012,263.679993,259.809998,260.329987,48309800,0.0,0.0
2026-01-08 00:00:00-05:00,257.019989,259.290009,255.699997,259.040009,50419300,0.0,0.0
2026-01-09 00:00:00-05:00,259.079987,260.209991,256.220001,259.369995,39997000,0.0,0.0
2026-01-12 00:00:00-05:00,259.160004,261.299988,256.799988,260.250000,45263800,0.0,0.0
2026-01-13 00:00:00-05:00,258.720001,261.809998,258.390015,261.049988,45730800,0.0,0.0
2026-01-14 00:00:00-05:00,259.489990,261.820007,256.709991,259.959991,40019400,0.0,0.0
2026-01-15 00:00:00-05:00,260.649994,261.040009,257.049988,258.209991,39388600,0.0,0.0
2026-01-16 00:00:00-05:00,257.899994,258.899994,254.929993,255.529999,72142800,0.0,0.0
2026-01-20 00:00:00-05:00,252.729996,254.789993,243.419998,246.699997,80267500,0.0,0.0
2026-01-21 00:00:00-05:00,248.699997,251.559998,245.179993,247.649994,54641700,0.0,0.0
2026-01-22 00:00:00-05:00,249.199997,251.000000,248.149994,248.350006,39708300,0.0,0.0
2026-01-23 00:00:00-05:00,247.320007,249.410004,244.679993,248.039993,41625700,0.0,0.0

In [6]:
pip install Quandl

Collecting Quandl
  Downloading Quandl-3.7.0-py2.py3-none-any.whl.metadata (1.3 kB)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.12/dist-packages (from Quandl) (2.2.2)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.12/dist-packages (from Quandl) (2.0.2)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.12/dist-packages (from Quandl) (2.32.4)
Collecting inflection>=0.3.1 (from Quandl)
  Downloading inflection-0.5.1-py2.py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.12/dist-packages (from Quandl) (2.9.0.post0)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from Quandl) (1.17.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.12/dist-packages (from Quandl) (10.8.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.14->Quandl) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.14->Quandl) (2025.3)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.7.0->Quandl) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.7.0->Quandl) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests>=2.7.0->Quandl) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests>=2.7.0->Quandl) (2026.1.4)
Downloading Quandl-3.7.0-py2.py3-none-any.whl (26 kB)
Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Installing collected packages: inflection, Quandl
Successfully installed Quandl-3.7.0 inflection-0.5.1

In [7]:
!pip install nasdaq-data-link

Collecting nasdaq-data-link
  Downloading Nasdaq_Data_Link-1.0.4-py2.py3-none-any.whl.metadata (1.3 kB)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.12/dist-packages (from nasdaq-data-link) (2.2.2)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.12/dist-packages (from nasdaq-data-link) (2.0.2)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.12/dist-packages (from nasdaq-data-link) (2.32.4)
Requirement already satisfied: inflection>=0.3.1 in /usr/local/lib/python3.12/dist-packages (from nasdaq-data-link) (0.5.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.12/dist-packages (from nasdaq-data-link) (2.9.0.post0)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from nasdaq-data-link) (1.17.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.12/dist-packages (from nasdaq-data-link) (10.8.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.14->nasdaq-data-link) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.14->nasdaq-data-link) (2025.3)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.7.0->nasdaq-data-link) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.7.0->nasdaq-data-link) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests>=2.7.0->nasdaq-data-link) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests>=2.7.0->nasdaq-data-link) (2026.1.4)
Downloading Nasdaq_Data_Link-1.0.4-py2.py3-none-any.whl (28 kB)
Installing collected packages: nasdaq-data-link
Successfully installed nasdaq-data-link-1.0.4

In [8]:
import pandas as pd
import nasdaqdatalink

In [11]:
nasdaqdatalink.ApiConfig.api_key = "8yybVbpyxWk6ZpDXhhTs"

df = nasdaqdatalink.get(
    "WIKI/AAPL", rows=5
)

DataLinkError: (Status 403) Something went wrong. Please try again. If you continue to have problems, please contact us at connect@data.nasdaq.com.

In [12]:
!pip install intrinio-sdk

Collecting intrinio-sdk
  Downloading intrinio_sdk-6.46.0-py3-none-any.whl.metadata (935 bytes)
Requirement already satisfied: urllib3>=1.15 in /usr/local/lib/python3.12/dist-packages (from intrinio-sdk) (2.5.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.12/dist-packages (from intrinio-sdk) (1.17.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.12/dist-packages (from intrinio-sdk) (2026.1.4)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.12/dist-packages (from intrinio-sdk) (2.9.0.post0)
Collecting retrying>=1.3.3 (from intrinio-sdk)
  Downloading retrying-1.4.2-py3-none-any.whl.metadata (5.5 kB)
Downloading intrinio_sdk-6.46.0-py3-none-any.whl (1.2 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1.2/1.2 MB 16.7 MB/s eta 0:00:00
Downloading retrying-1.4.2-py3-none-any.whl (10 kB)
Installing collected packages: retrying, intrinio-sdk
Successfully installed intrinio-sdk-6.46.0 retrying-1.4.2

In [13]:
import intrinio_sdk as intrinio
import pandas as pd

In [15]:
intrinio.ApiClient().set_api_key("Ojk5NDc4ZGE0ODdkNGJjYmJmZjg2ZDE5ZGU0MmQ3OWEx")
security_api = intrinio.SecurityApi()

In [16]:
r = security_api.get_security_stock_prices(
    identifier="AAPL",
    start_date="2011-01-01",
    end_date="2021-12-31",
    frequency="daily",
    page_size=10000
)

ApiException: (401)
Reason: Unauthorized
HTTP response headers: HTTPHeaderDict({'Date': 'Sun, 25 Jan 2026 23:35:38 GMT', 'Content-Type': 'application/json', 'Content-Length': '104', 'Connection': 'keep-alive', 'Vary': 'Origin,Accept-Encoding'})
HTTP response body: {"human":"No active subscription(s).","message":"An active subscription is required to view this data."}

In [17]:
!pip install alpha_vantage

Collecting alpha_vantage
  Downloading alpha_vantage-3.0.0-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.12/dist-packages (from alpha_vantage) (3.13.3)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from alpha_vantage) (2.32.4)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp->alpha_vantage) (2.6.1)
Requirement already satisfied: aiosignal>=1.4.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp->alpha_vantage) (1.4.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp->alpha_vantage) (25.4.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.12/dist-packages (from aiohttp->alpha_vantage) (1.8.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.12/dist-packages (from aiohttp->alpha_vantage) (6.7.0)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp->alpha_vantage) (0.4.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp->alpha_vantage) (1.22.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->alpha_vantage) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->alpha_vantage) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->alpha_vantage) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests->alpha_vantage) (2026.1.4)
Requirement already satisfied: typing-extensions>=4.2 in /usr/local/lib/python3.12/dist-packages (from aiosignal>=1.4.0->aiohttp->alpha_vantage) (4.15.0)
Downloading alpha_vantage-3.0.0-py3-none-any.whl (35 kB)
Installing collected packages: alpha_vantage
Successfully installed alpha_vantage-3.0.0

In [18]:
from alpha_vantage.cryptocurrencies import CryptoCurrencies

In [19]:
ALPHA_VANTAGE_API_KEY = "DJU7G3TSMOLW0H25"
crypto_api = CryptoCurrencies(key=ALPHA_VANTAGE_API_KEY,
                              output_format= "pandas")

In [20]:
data, meta_data = crypto_api.get_digital_currency_daily(
    symbol="BTC",
    market="EUR"
)

In [21]:
crypto_api.get_digital_currency_exchange_rate(
    from_currency="BTC",
    to_currency="USD"
)[0].transpose()

                      Realtime Currency Exchange Rate
1. From_Currency Code                             BTC
2. From_Currency Name                         Bitcoin
3. To_Currency Code                               USD
4. To_Currency Name              United States Dollar
5. Exchange Rate                       86413.97000000
6. Last Refreshed                 2026-01-25 23:37:03
7. Time Zone                                      UTC
8. Bid Price                           86412.28000000
9. Ask Price                           86414.80300000

In [23]:
import requests
import pandas as pd
from io import BytesIO

In [26]:
AV_API_URL = "https://www.alphavantage.co/query"
parameters = {
    "function": "CRYPTO_INTRADAY",
    "symbol": "ETH",
    "market": "USD",
    "interval": "30min",
    "outputsize": "full",
    "apikey": "DJU7G3TSMOLW0H25"
}
r = requests.get(AV_API_URL, params=parameters)
data = r.json()

# Check if the API returned an error message instead of data
if "Information" in data:
    print(f"API Error: {data['Information']}")
    df = pd.DataFrame() # Create an empty DataFrame or handle the error as appropriate
elif "Time Series Crypto (30min)" in data:
    df = (
        pd.DataFrame(data["Time Series Crypto (30min)"])
        .transpose()
    )
else:
    print("Unexpected API response format.")
    df = pd.DataFrame()

df

API Error: Thank you for using Alpha Vantage! This is a premium endpoint. You may subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly unlock all premium endpoints

Empty DataFrame
Columns: []
Index: []

In [30]:
import yfinance as yf

btc_data = yf.download("BTC-USD", start="2020-01-01", end="2023-12-31")
display(btc_data.head())

/tmp/ipython-input-2599484688.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  btc_data = yf.download("BTC-USD", start="2020-01-01", end="2023-12-31")
[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open       Volume
Ticker          BTC-USD      BTC-USD      BTC-USD      BTC-USD      BTC-USD
Date
2020-01-01  7200.174316  7254.330566  7174.944336  7194.892090  18565664997
2020-01-02  6985.470215  7212.155273  6935.270020  7202.551270  20802083465
2020-01-03  7344.884277  7413.715332  6914.996094  6984.428711  28111481032
2020-01-04  7410.656738  7427.385742  7309.514160  7345.375488  18444271275
2020-01-05  7411.317383  7544.497070  7400.535645  7410.451660  19725074095

In [28]:
AV_API_URL = "https://www.alphavantage.co/query"
parameters = {
    "function": "EARNINGS_CALENDAR",
    "horizon": "3month",
    "apikey": "DJU7G3TSMOLW0H25"
}
r = requests.get(AV_API_URL, params=parameters)
pd.read_csv(BytesIO(r.content))

,symbol,name,reportDate,fiscalDateEnding,estimate,currency,timeOfTheDay
0,BKR,BAKER HUGHES CO - CLASS A,2026-01-25,2025-12-31,0.6700,USD,post-market
1,AGNC,AGNC INVESTMENT CORP,2026-01-26,2025-12-31,0.3700,USD,post-market
2,AGYS,AGILYSYS INC,2026-01-26,2025-12-31,0.3200,USD,post-market
3,AKO-A,EMBOTELLADORA ANDINA S.A.,2026-01-26,2025-12-31,0.5627,USD,NaN
4,ALPIB,ALPIB,2026-01-26,2025-12-31,NaN,USD,NaN
...,...,...,...,...,...,...,...
9675,SRRRF,SRRRF,2026-04-24,2026-03-31,NaN,USD,NaN
9676,TBXXF,TBXXF,2026-04-24,2026-03-31,0.0900,USD,NaN
9677,WAMFF,WAMFF,2026-04-24,2026-03-31,-0.0100,USD,NaN
9678,WDFCF,WDFCF,2026-04-24,2026-03-31,NaN,USD,NaN
9679,YGTFF,YGTFF,2026-04-24,2026-03-31,NaN,USD,NaN

In [ ]:
cg = CoinGeckoAPI()

# Get historical data for Bitcoin (BTC) against USD
# The from_timestamp and to_timestamp parameters expect Unix timestamps
end_date = datetime.now()
start_date = end_date.replace(year=end_date.year - 1) # Last 1 year of data

bits = cg.get_coin_market_chart_range_by_id(
    id='bitcoin',
    vs_currency='usd',
    from_timestamp=start_date.timestamp(),
    to_timestamp=end_date.timestamp()
)

# Convert prices to a pandas DataFrame
bits_df = pd.DataFrame(bits['prices'], columns=['Timestamp', 'Price'])
bits_df['Date'] = pd.to_datetime(bits_df['Timestamp'], unit='ms')
bits_df = bits_df.set_index('Date').drop('Timestamp', axis=1)

print(f"Downloaded {len(bits_df)} historical Bitcoin prices.")
display(bits_df.head())

In [32]:
!pip install pycoingecko

Requirement already satisfied: pycoingecko in /usr/local/lib/python3.12/dist-packages (3.2.0)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from pycoingecko) (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->pycoingecko) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->pycoingecko) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->pycoingecko) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests->pycoingecko) (2026.1.4)

In [33]:
from pycoingecko import CoinGeckoAPI
from datetime import datetime
import pandas as pd

In [34]:
cg = CoinGeckoAPI()

In [35]:
ohlc = cg.get_coin_ohlc_by_id(
    id="bitcoin", vs_currency="usd", days="14"
)
ohlc_df = pd.DataFrame(ohlc)
ohlc_df.columns = ["date", "open", "high", "low", "close"]
ohlc_df["date"] = pd.to_datetime(ohlc_df["date"], unit="ms")
ohlc_df

                  date     open     high      low    close
0  2026-01-12 00:00:00  90569.0  90819.0  90245.0  90819.0
1  2026-01-12 04:00:00  90868.0  92356.0  90694.0  91818.0
2  2026-01-12 08:00:00  91684.0  92128.0  91283.0  91283.0
3  2026-01-12 12:00:00  91287.0  91425.0  90311.0  90562.0
4  2026-01-12 16:00:00  90521.0  91446.0  90129.0  91446.0
..                 ...      ...      ...      ...      ...
79 2026-01-25 04:00:00  89097.0  89168.0  88740.0  88746.0
80 2026-01-25 08:00:00  88825.0  88940.0  88545.0  88545.0
81 2026-01-25 12:00:00  88543.0  88601.0  88120.0  88413.0
82 2026-01-25 16:00:00  88393.0  88801.0  88314.0  88314.0
83 2026-01-25 20:00:00  88317.0  88317.0  86386.0  86395.0

[84 rows x 5 columns]

In [36]:
trending_coins = cg.get_search_trending()
(
    pd.DataFrame([coin["item"] for coin in trending_coins["coins"]])
    .drop(columns=["thumb", "small", "large"])
)

,id,coin_id,name,symbol,market_cap_rank,slug,price_btc,score,data
0,caldera,54475,Caldera,ERA,808,caldera,2.438777e-06,0,"{'price': 0.21113695924895368, 'price_btc': '0..."
1,river,69318,River,RIVER,76,river,8.158096e-04,1,"{'price': 70.62865471545308, 'price_btc': '0.0..."
2,bitcoin,1,Bitcoin,BTC,1,bitcoin,1.000000e+00,2,"{'price': 86533.13093428001, 'price_btc': '1.0..."
3,pax-gold,9519,PAX Gold,PAXG,56,pax-gold,5.839623e-02,3,"{'price': 5055.649178356551, 'price_btc': '0.0..."
4,seeker,70974,Seeker,SKR,367,seeker,2.588329e-07,4,"{'price': 0.022408437900309205, 'price_btc': '..."
5,nietzschean-penguin,71738,Nietzschean Penguin,PENGUIN,474,nietzschean-penguin,9.814154e-07,5,"{'price': 0.08496596372369872, 'price_btc': '0..."
6,kinesis-silver,29789,Kinesis Silver,KAG,175,kinesis-silver,1.213620e-03,6,"{'price': 105.06906059482046, 'price_btc': '0...."
7,tether-gold,10481,Tether Gold,XAUT,50,tether-gold,5.812757e-02,7,"{'price': 5032.3895788357695, 'price_btc': '0...."
8,solana,4128,Solana,SOL,7,solana,1.373569e-03,8,"{'price': 118.91659005591399, 'price_btc': '0...."
9,pudgy-penguins,52622,Pudgy Penguins,PENGU,139,pudgy-penguins,1.059442e-07,9,"{'price': 0.009172111069657325, 'price_btc': '..."
10,monero,69,Monero,XMR,21,monero,5.206182e-03,10,"{'price': 450.72483047813023, 'price_btc': '0...."
11,lighter,71121,Lighter,LIT,173,lighter,1.812684e-05,11,"{'price': 1.5693300500822736, 'price_btc': '0...."
12,nomina,69687,Nomina,NOM,694,nomina,1.822991e-07,12,"{'price': 0.01578252684450395, 'price_btc': '0..."
13,dusk-network,5217,DUSK,DUSK,475,dusk,1.944501e-06,13,"{'price': 0.16834503443111482, 'price_btc': '0..."
14,ripple,44,XRP,XRP,5,xrp,2.113536e-05,14,"{'price': 1.8297921258046201, 'price_btc': '0...."

In [37]:
cg.get_price(ids="bitcoin", vs_currencies="usd")

{'bitcoin': {'usd': 86562}}